<!DOCTYPE html>
<html lang="en">
<head>
   
	<title>Facial Expressions Recognition</title>
  
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="shortcut icon" id="favicon-ico" href="../static/sfm.png">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
   
   
</head>



  <body>

<div padding-bottom="20">
<img src="../static/sfm.png" width="150" height="140">
</div>


<div>
<h1> Facial Expression Recognition</h1>
</div>

  <div class="d-flex justify-content-center">
    <img id="bg" width=1000px height=450px src="{{ url_for('video_feed') }}">
  </div>
  </body>

</html>
